.navbar {
  height: 100px;
  background-color: rgba(5,42,2,0.4);
  display: block;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 0;
  padding-bottom:0;
}

/*.nav li {
  height: 100%;
  line-height: 100%;
  margin-bottom: 0;
  padding-bottom:0;
}*/

.nav li {
  display: table-cell;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
  color: #fff;
  font-weight: 0;
  font-size: 12px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.nav li a {
  display: table-cell;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
  color: #fff;
  font-weight: 0;
  font-size: 12px;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-top: -19px;
}

.navbar-nav > li > a:hover {
  background: none;
}

.navbar-nav {
  float: right;
  margin-bottom: 0;
  padding-bottom:0;
}

.navbar .navbar-nav > .active {
  color: #fff;
}

.navbar .navbar-nav > .active {
  padding-bottom: 15px;
}

.navbar-toggle {
  padding: 0;
  margin: 0;
  width: 80px;
}

.navbar-collapse.in {
  margin-top: -5px !important;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  height: 2px;
}

li {
  margin: 15px;
}

.margin-top-10 {
  margin-top: 10%
}

/* */
body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 0;
  height: 65px;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 1.2%;
}

.log-out {
  font-size: 20px;
  margin-top: 1.2%;
}

.content {
  background-color: #FFF;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099FF;
}

